<!-- Footer -->
	<footer id="footer">
		{% include 'partials/components/social_linkgroup.html.twig' %}
		<ul class="copyright">
			<li>© {{ 'now'|date('Y') }}, {{ config.site.author.name }}. {{ site.metadata.rights|default('All rights reserved.') }}</li>
		</ul>
	</footer>
